@font-face {
  font-family: Poppins;
  src: url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #9c9c9e;
  overflow-x: hidden;
}
